<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#import"><i class="fa fa-fw fa-arrows-v"></i> Nhập DL từ nguồn <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="import" class="collapse">
                <li>
                    <a href="#">Nguồn nhập</a>
                </li>
                <li>
                    <a href="#">Khai báo tham số hệ thống</a>
                </li>
                <li>
                    <a href="#">Thiết lập ngày nghỉ</a>
                </li>
                <li>
                    <a href="#">Làm mới dữ liệu</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#hethong"><i class="fa fa-fw fa-arrows-v"></i> Hệ thống <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="hethong" class="collapse">
                <li>
                    <a href="#">Thiết lập TT đơn vị</a>
                </li>
                <li>
                    <a href="#">Khai báo tham số hệ thống</a>
                </li>
                <li>
                    <a href="#">Thiết lập ngày nghỉ</a>
                </li>
                <li>
                    <a href="#">Làm mới dữ liệu</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#khaibao"><i class="fa fa-fw fa-arrows-v"></i> Danh mục chung <i class="fa fa-fw fa-caret-down"></i></a>
             <ul id="khaibao" class="collapse">
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#tv"><i class="fa fa-fw fa-arrows-v"></i> Khai báo thư viện <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="tv" class="collapse">
                        <li>
                            <a href="/AdminCP/DmKhoAnPham">Kho ấn phẩm</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmKhoNgonNgu">Ngôn ngữ</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmTacGia">Tác giả</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmNXB">Nhà xuất bản</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmMh">Danh mục môn</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmTl">Định dạng tài liệu</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmLoaiAnPham">Phân loại ấn phẩm</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmNguonCC">Nguồn cung cấp ấn phẩm</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmTinhTrang">Tình trạng ấn phẩm</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmPhat">Lý do phạt thẻ đọc</a>
                        </li>
                    </ul></li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#ht"><i class="fa fa-fw fa-arrows-v"></i> Khai báo hệ thống <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="ht" class="collapse">
                        <li>
                            <a href="/AdminCP/DmBm">Bộ môn - Tổ</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmMonHoc">Môn học</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmNamHoc">Năm học</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmKhoiLop">Khối lớp</a>
                        </li>
                        <li>
                            <a href="/AdminCP/DmLopHoc">Lớp học</a>

                        </li>
                        <li>
                            <a href="/AdminCP/DmCapHoc">Cấp học</a>
                        </li>
                    </ul>
</li>
                
            </ul></li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#bd"><i class="fa fa-fw fa-arrows-v"></i> Bạn đọc <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="bd" class="collapse">
                <li>
                    <a href="#">Danh sách giáo viên</a>
                </li>
                <li>
                    <a href="#">Danh sách học sinh</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#nhap"><i class="fa fa-fw fa-arrows-v"></i> Nhập từ Excel <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="nhap" class="collapse">
                        <li>
                            <a href="#">Thẻ giáo viên</a>
                        </li>
                        <li>
                            <a href="#">Thẻ học sinh</a>
                        </li>
                        <li>
                            <a href="#">Thẻ đọc khác</a>
                        </li>    
                    </ul>
                </li>
                <li>
                    <a href="/AdminCP/TheDoc">Danh sách thẻ đọc</a>
                </li>
                <li>
                    <a href="/AdminCP/PhatTheDoc">Phạt độc giả vi phạm</a>
                </li>
                <li>
                    <a href="/AdminCP/GiaHanTheDoc">Gia hạn thẻ đọc</a>
                </li>
                <li>
                    <a href="/AdminCP/TheDocKhac">Thao tác khác</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#bm"><i class="fa fa-fw fa-arrows-v"></i> Biên mục <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="bm" class="collapse">
                <li>
                    <a href="/AdminCP/AnPham">Nhập mới ấn phẩm</a>
                </li>
                <li>
                    <a href="#">Nhập từ Excel</a>
                </li>
                <li>
                    <a href="#">Tra cứu và in ấn phẩm</a>
                </li>
                <li>
                    <a href="#">In nhãn theo đăng ký</a>
                </li>
                <li>
                    <a href="#">Dự toán mua ấn phẩm</a>
                </li>
                <li>
                    <a href="#">Thanh lý thư viện</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#kk"><i class="fa fa-fw fa-arrows-v"></i> Kiểm kê thư viện <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="kk" class="collapse">
                        <li>
                            <a href="#">Kiểm kê ấn phẩm</a>
                        </li>
                        <li>
                            <a href="#">Bảng đã kiểm kê</a>
                        </li>
                        <li>
                            <a href="#">Bảng chưa kiểm kê</a>
                        </li>
                        <li>
                            <a href="#">Báo cáo tổng hợp</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Phục hồi trạng thái</a>
                </li>
                <li>
                    <a href="#">Kiểm soát đăng ký cá biệt</a>
                </li>
               
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#lt"><i class="fa fa-fw fa-arrows-v"></i> Lưu thông <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="lt" class="collapse">
                <li>
                    <a href="#">Đăng ký vào phòng đọc</a>
                </li>
                <li>
                    <a href="#">Mượn ấn phẩm tại chỗ</a>
                </li>
                <li>
                    <a href="#">Mượn- trả về nhà</a>
                </li>
                <li>
                    <a href="#">Thuê ấn phẩm</a>
                </li>
                <li>
                    <a href="#">Mất ấn phẩm</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Báo cáo</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Tìm kiếm <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Tra cứu ấn phẩm</a>
                </li>
                <li>
                    <a href="#">Tra cứu mượn</a>
                </li>
                <li>
                    <a href="#">Tra cứu trả</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#help"><i class="fa fa-fw fa-arrows-v"></i> Trợ giúp <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="help" class="collapse">
                <li>
                    <a href="#">Trợ giúp</a>
                </li>
                <li>
                    <a href="#">Thông tin hệ thống</a>
                </li>
                
            </ul>
        </li>
        
    </ul>
</div>